* {margin: 0; padding: 0;}

form.login-form {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    margin-top: 3em;
}

.login-form label {
    color: #135823;
}

#btn-submit {
    cursor: pointer;
    border: 1px solid #3fb27f;
    padding: 0.5em;
}

#txt-name:focus {
    outline: none;
    border: 1px solid #00b939;
}

#txt-name {
    border: 1px solid #3fb27f;
    padding: 0.5em;
    margin-top: 0.5em;
}

.app-title {
    color: #135823;
    left: 50%;
    margin-top: 8%;
    text-align: center;
}